.messageContainer {
  display: flex;
  flex-direction: column;
}

.message {
  width: 160px;
}

.sentMessage {
  align-self: flex-start;
}

.receivedMessage {
  align-self: flex-end;
}

.messageText {
  margin: 0;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatBody {
  height: 75vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  max-width: 500px;
  padding-bottom: 20px;
}

.chatBody:hover {
  overflow-y: scroll;
}

.chatFooter {
  display: flex;
  justify-content: center;
}
